services:
  postgres:
    image: 'postgres:latest'
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - dataVolume:/var/lib/postgresql/data
    ports:
      - '5432:5432'
volumes:
  dataVolume:
